node_modules
obj
bin
packages
.vscode
.idea
.history
.vshistory
static_files
static-files
*.ide-shm
*.ide-wal
*.ide
*.dtbcache
.vs/ 
*.vspscc
*.csproj.user
*.csproj.FileListAbsolute.txt
*.log
storybook-static
documentation.json
/SnelStart.Web.UI.TestSelenium/product-payment-e2e/Tests/paymentCreateInvoice.cs
